<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pagina Inicial</title>
    <link rel="stylesheet" href="../../public/js/styles/global.css" />
  </head>
  <body>
    <nav class="menu">
      <a href="/">
        <img class="" src="" alt="" />
      </a>
      <ul>
        <a href="/contato">CONTATO</a>
        <a href="/sobre">SOBRE NÓS</a>
        <a class="btn-logar" href="/login">LOGAR</a>
      </ul>
    </nav>
    <main>
      <h3>PÁGINA PARA CONTATO</h3>
      <h1></h1>
    </main>
  </body>
</html>
