<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>página inicial</title>
    <link rel="stylesheet" href="../../public/styles/global.css" />
  </head>

  <body>
    <nav class="menu">
      <a href="/">
        <img
          width="100"
          src="https://static.vecteezy.com/system/resources/previews/006/240/761/non_2x/initial-letter-b-tech-logo-design-template-element-eps10-vector.jpg"
          alt="logo site"
        />
      </a>
      <ul>
        <a href="/contato">CONTATO</a>
        <a href="/sobre">SOBRE NÒS</a>
        <a class="btn-logar" href="/login">LOGAR</a>
      </ul>
    </nav>
  </body>
</html>
